*{
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root,.App {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.log {
    width: 100%;
    height: 100%;
    
}

.log div input {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}

.log div button {
    width: 400px;
    height: 40px;
}